<!DOCTYPE html>
<html>
<head>
    <title>Approval Response</title>
</head>
<body>
    <h1>Handle Request</h1>
    <% if (action === 'approved') { %>
        <h3>Refund Request Approved.<br><p>The user will receive a notice via email.</p><a href='/admin/handle_requests'>Return to admin page</a>.</h3>
    <% } else { %>
        <h3>Refund Request Rejected.<br><p>The user will not be able to request a refund for the same ticket.</p><br><a href='/admin/handle_requests'>Return to admin page</a>.</h3>
    <% } %>
</body>
</html>
