<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>An error has occured.</h2>
    <h3><%= errorMsg %></h3>
    <form action="/customerHome.html" method="GET">
        <button type="submit">Return</button>
    </form>
</body>
</html>